<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <title>Bodas & Eventos</title>
    <link rel="icon" href="img/favicon.jpg" type="image/x-icon">
    <link rel="shortcut icon" href="img/favicon.jpg" type="image/x-icon">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="/src/main/resources/static/styles/styleAdmin.css">
</head>
<body>
    <!--HEADER-->
    <div class="contenedor-header">
        <h4 class="barra-negra">Bienvenido</h4>
        <header>
            <ul>
                <li class="contenedor-item1">
                    <div class="logo">
                        <a href="#">Bodas & Eventos</a>
                        <h6>SISTEMA DE GESTIÓN</h6>
                    </div>
                </li>
            </ul>
            <ul class="contenedor-item2">
                <nav id="nav">
                    <ul class="menu" id="menu">
                        <li><a href="#sobremi" onclick="seleccionar()">MENU</a></li>
                        <li><a href="">ALQUILERES</a></li>
                        <li><a href="">INVENTARIO</a></li>
                    </ul>
                </nav>
                <ul>
                    <div class="nav-responsive" onclick="mostrarOcultarMenu()">
                        <i class="fa-solid fa-bars"></i>
                    </div>
                </ul>
            </ul>
            <ul class="iconos contenedor-item3">
                <li><a href="#sobremi"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                <li><a href="/login"><i class="fa-regular fa-user"></i></a></li>
                <li><a href="#sobremi"><i class="fa-solid fa-bell"></i></a></li>
            </ul>

        </header>
    </div>
    <!--FIN HEADER-->
    <script src="/src/main/resources/static/js/scriptAdmin.js"></script>
</body>
</html>