<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <title>Categorias</title>
  <link rel="stylesheet" href="/src/main/resources/static/styles/styleCategorias.css">
</head>
<body>
  <div class="page-container">
    <h1>Categorías</h1>
    <div class="card-container">
      <div class="card">
        <img class="category-image" src="/src/main/resources/static/img/Damas.png" alt="Categoría 1">
        <h3>DAMAS</h3>
        <div class="actions">
          <button class="action-button" title="Editar"><i class="fas fa-edit"></i></button>
          <button class="action-button" title="Eliminar"><i class="fas fa-trash-alt"></i></button>
          <button class="action-button" title="Ver"><i class="fas fa-search"></i></button>
        </div>
      </div>
      <div class="card">
        <img class="category-image" src="/src/main/resources/static/img/15 anos.png" alt="Categoría 2">
        <h3>QUNCEAÑERAS</h3>
        <div class="actions">
          <button class="action-button" title="Editar"><i class="fas fa-edit"></i></button>
          <button class="action-button" title="Eliminar"><i class="fas fa-trash-alt"></i></button>
          <button class="action-button" title="Ver"><i class="fas fa-search"></i></button>
        </div>
      </div>

      <div class="card">
        <img class="category-image" src="/src/main/resources/static/img/caballero.png" alt="Categoría 3">
        <h3>CABALLERO</h3>
        <div class="actions">
          <button class="action-button" title="Editar"><i class="fas fa-edit"></i></button>
          <button class="action-button" title="Eliminar"><i class="fas fa-trash-alt"></i></button>
          <a href="subcategorias.html">
            <button class="action-button" title="Ver"><i class="fas fa-search"></i></button>
          </a>        
        </div>
      </div>

      <div class="card">
        <img class="category-image" src="/src/main/resources/static/img/infantil.png" alt="Categoría 4">
        <h3>INFANTIL</h3>
        <div class="actions">
          <button class="action-button" title="Editar"><i class="fas fa-edit"></i></button>
          <button class="action-button" title="Eliminar"><i class="fas fa-trash-alt"></i></button>
          <button class="action-button" title="Ver"><i class="fas fa-search"></i></button>
        </div>
      </div>
      <!-- Puedes agregar más tarjetas según tus categorías -->
    </div>
    <button class="add-button" title="Agregar Categoría"><i class="fas fa-plus"></i> Agregar Categoría</button>
  </div>
</body>
</html>
