<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Categorías</title>
    <link rel="stylesheet" href="/styles/styleTallas.css">
</head>
<body>
    <h1>Lista de Categorías</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Acciones</th>
            <th>Si</th>
        </tr>
        <tr th:each="categoria : ${categorias}">
            <td th:text="${categoria.idCategoria}"></td>
            <td th:text="${categoria.nombre}"></td>
            <td>
                <a th:href="@{/categorias/{id}/editar(id=${categoria.idCategoria})}">Editar</a>
                <a th:href="@{/categorias/{id}/borrar(id=${categoria.idCategoria})}">Borrar</a>
            </td>
        </tr>
    </table>
    <a th:href="@{/categorias/nuevo}">Nueva Categoría</a>
</body>
</html>