<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
	integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<title>Configuración</title>
<link rel="stylesheet" href="styles/styleCategorias.css">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<h1>Inicio de sesión</h1>
			<!-- 	------------------------------------------------------------------------------- -->
				<form th:action="@{/registro}" method="post" th:object="${usuario}">
				     <h1>Registro</h1>
				      <div th:if=${param.exito}>
					<div class="alert alert-info">Se ha registrado exitosamente a
						la aplicación</div>
				    </div>
				    <div th:if=${param.error}>
					<div class="alert alert-info">El correo ya esta en uso</div>
				    </div>
					 <input id="nombre" type="text" name="nombre" placeholder="Nombre" required>
                     <input id="email" type="email" name="email" placeholder="Email" required>
                    <input id="password" type="password" name="password" placeholder="Contraseña" required>
                    <div class="form-group">
						<label class="control-label" for="rol">Rol :</label> <select
							id="rol" class="form-control" th:field="*{rol}">
							<option th:each="rol : ${roles}" th:value="${rol.id}"
								th:text="${rol.nombre}"></option>
						</select>
				   <button type="submit" class="btn btn-success">Registrar</button>
					</div>
				</form>
				
				<!-- 	------------------------------------------------------------------------------- -->
				<form th:action="@{/inicio/configuracion}" method="post">
					<!-- Mensaje de error (si existe) -->
					<div th:if="${error}" class="alert alert-danger">
						<p th:text="${error}"></p>
					</div>

					<div class="form-group">
						<label for="nombre">Nombre:</label> <input id="nombre"
							name="nombre" type="text" class="form-control" required
							autofocus="autofocus" placeholder="nombre de rol">
					</div>
					<!-- sección para seleccionar permisos -->
					<div class="form-group">
						<label>Permisos:</label>
						<th:block th:each="permiso : ${permisos}">
							<div class="form-check">
								<input type="checkbox" class="form-check-input"
									th:id="'permiso_' + ${permiso.id}"
									th:name="'permiso_' + ${permiso.id}" value="1"> <label
									class="form-check-label" th:for="'permiso_' + ${permiso.id}"
									th:text="${permiso.nombre}"></label>
							</div>
						</th:block>
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-primary">Guardar Rol</button>
					</div>
				</form>
				
				<!-- 	------------------------------------------------------------------------------- -->
				

			</div>
		</div>
	</div>
</body>
</html>
