<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
    integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Inactivo</title>
  <link rel="stylesheet" href="/styles/styleInactivo.css">
  <link rel="stylesheet" href="/styles/style.css">
</head>

<body>

  <div class="contenedor">
    <h1 style="margin: 15px 0 15px; text-align: left;">Su cuenta ha sido desactivada.</h1>
    <h3 style="font-weight: 400; margin: 15px 0 15px; text-align: left;">Su usuario se encuentra inactivo, si considera que esto es un error por favor contactese con nosotros.</h3>
    <button> Volver a la Pagina Principal</button>
  </div>
</body>

</html>