<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Bodas & Eventos</title>
    <link rel="icon" href="/img/banner-2.jpg" type="image/x-icon">
    <link rel="shortcut icon" href="/img/banner-2.jpg" type="image/x-icon">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
    <!--HEADER -->
    <div class="contenedor-header">
        <h4 class="barra-negra">Alquiler y Venta de Trajes</h4>
        <header>
            <ul>
                <li class="contenedor-item1">
                    <div class="logo">
                        <a href="#">Bodas & Eventos</a>
                        <h6>LUCE ESPECTACULAR CON NOSOTROS</h6>
                    </div>
                </li>
            </ul>
            <ul class="contenedor-item2">
                <nav id="nav">
                    <ul class="menu" id="menu">
                        <li><a href="/">INICIO</a></li>
                        <!-- <li><a href="">CATÁLOGO</a></li> -->
                        <li><a href="#sobreNosotros">SOBRE NOSOTROS</a></li>
                    </ul>
                </nav>
                <ul>
                    <div class="nav-responsive" onclick="mostrarOcultarMenu()">
                        <i class="fa-solid fa-bars"></i>
                    </div>
                </ul>
            </ul>
            <ul class="iconos contenedor-item3">
                <!-- <li><a href="#sobremi"><i class="fa-solid fa-magnifying-glass"></i></a></li> -->
                <li><a href="/login"><i class="fa-regular fa-user"></i></a></li>
                <!-- <li><a href="#sobremi"><i class="fa-solid fa-cart-shopping"></i></a></li> -->
            </ul>

        </header>
    </div>
    <!-- BANNER -->
    <div class="banner">
        <div class="container">
            <div class="slider-container has-scrollbar">
                <div class="slider-item">
                    <img src="/img/Matrimonio.jpg" alt="women's latest fashion sale" class="banner-img">
                    <div class="banner-content">
                        <p class="banner-subtitle">Novio y Novia</p>
                        <h2 class="banner-title">Trajes para toda ocasión.</h2>
                        <!-- <a href="#" class="banner-btn">Agenda tu cita</a> -->
                    </div>
                </div>
                <div class="slider-item">
                    <img src="/img/banner-2.jpg" alt="modern sunglasses" class="banner-img">
                    <div class="banner-content">
                        <p class="banner-subtitle">Trending accessories</p>
                        <h2 class="banner-title">Modern sunglasses</h2>
                        <p class="banner-text">
                            starting at &dollar; <b>15</b>.00
                        </p>
                        <a href="#" class="banner-btn">Shop now</a>
                    </div>
                </div>
                <div class="slider-item">
                    <img src="/img/Matrimonio.jpg" alt="new fashion summer sale" class="banner-img">
                    <div class="banner-content">
                        <p class="banner-subtitle">Sale Offer</p>
                        <h2 class="banner-title">New fashion summer sale</h2>
                        <p class="banner-text">
                            starting at &dollar; <b>29</b>.99
                        </p>
                        <a href="#" class="banner-btn">Shop now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- DIVISOR -->
    <div class="title-section">
        <div class="title-text">Sobre nosotros</div>
        <div class="divider"></div>
    </div>
    <!-- CATEGORIAS -->
    <!-- <div class="categorias">
        <div class="categoria">
            <img src="/img/Damas.png" alt="Categoría 1">
            <div class="categoria-contenido">
                <div class="nombre">Damas</div>
            </div>
        </div>

        <div class="categoria">
            <img src="/img/15 anos.png" alt="Categoría 2">
            <div class="categoria-contenido">
                <div class="nombre">Quinceañeras</div>
            </div>
        </div>

        <div class="categoria">
            <img src="/img/caballero.png" alt="Categoría 3">
            <div class="categoria-contenido">
                <div class="nombre">Caballeros</div>
            </div>
        </div>

        <div class="categoria">
            <img src="/img/infantil.png" alt="Categoría 4">
            <div class="categoria-contenido">
                <div class="nombre">Infantil</div>
            </div>
        </div>
    </div> -->

    <section class="cont-slider-novias" id="sobreNosotros">
        <center>
            <div class="columnas">
                <span class="linea"></span>
                <p>“Entendemos que cada ocasión especial merece un toque de distinción y sofisticación. Somos tu destino
                    de
                    confianza para encontrar el traje perfecto que te haga destacar en cualquier evento. Ya sea una
                    boda,
                    una fiesta de gala, una graduación o una reunión de negocios, en nuestra tienda encontrarás una
                    amplia
                    gama de opciones para alquilar y comprar trajes de alta calidad para hombres y mujeres.”</p>
                <span class="linea"></span>
            </div>
        </center>
        <div id="slidernovia" class="slidernovia">
            <img src="/img/novia1.png" alt="Imagen 2">
            <img src="/img/novia2.png" alt="Imagen 2">
            <img src="/img/novia3.png" alt="Imagen 2">
            <img src="/img/novia4.png" alt="Imagen 2">
            <img src="/img/novia5.png" alt="Imagen 2">
            <img src="/img/novia6.png" alt="Imagen 2">
        </div>
    </section>
    <center>
        <section class="map-container">
            <h1 class="map-title">¿Donde nos ubicamos?</h1>
            <div class="map">
                <div class="map-info">
                    <p>Calle 11 No. 1-63 Centro - Cúcuta<br>
                        Telefono: 6075831699<br>
                        Whatsapp: 317-6351588</p>
                    <br>
                    <a href="https://www.google.com/maps/place/Cl.+11+%231-63,+Cúcuta,+Norte+de+Santander/@7.8869489,-72.5030012,16z/data=!4m6!3m5!1s0x8e66459e314d025f:0x70699452fc9ca966!8m2!3d7.8864917!4d-72.5002041!16s%2Fg%2F11spmz79wj?entry=ttu" target="_blank" class="map-btn">Como llegar</a>
                </div>
                <div class="ubicacion">
                    <img src="/img/map.png" alt="Mapa">
                </div>
            </div>
        </section>
    </center>
    <footer>
        <div class="footer-grid">
            <div class="footer-left">
                <h2>BODAS & EVENTOS</h2>
                <h5>LUCE ESPECTACULAR CON NOSOTROS</h5>
            </div>
            <div class="footer-center">
                <!-- <a href="#">Política de Privacidad</a> -->
                <a href="https://www.google.com/maps/place/Cl.+11+%231-63,+Cúcuta,+Norte+de+Santander/@7.8869489,-72.5030012,16z/data=!4m6!3m5!1s0x8e66459e314d025f:0x70699452fc9ca966!8m2!3d7.8864917!4d-72.5002041!16s%2Fg%2F11spmz79wj?entry=ttu"
                    target="_blank">Donde Encontrarnos</a>
                <!-- <a href="#">Términos de Uso</a>
                <a href="#">Preguntas y Respuestas</a> -->
            </div>
            <div class="footer-right">
                <a href="#">Contacto</a>
                <div class="redes">
                    <a href="https://www.facebook.com/bodas.eventos11/?locale=es_LA" target="_blank"><i
                            class="fa-brands fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/cucutabodasyeventos/?hl=es" target="_blank"><i
                            class="fa-brands fa-instagram"></i></a>
                    <a href="https://wa.link/yl10zh" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
                </div>
            </div>
        </div>
        <p class="copyright">© 2023 BODAS Y EVENTOS. Todos los derechos reservados.</p>
    </footer>
    <script src="/js/script.js"></script>
</body>

</html>