<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Listado de Trajes</title>
</head>
<body>
    <h1>Listado de Trajes</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Cantidad</th>
            <th>Categoría</th>
            <th>Imágenes</th>
            <th>Acciones</th>
        </tr>
        <tr th:each="traje : ${trajes}">
             <td th:text="${traje.idTraje}"></td>
            <td th:text="${traje.nombre}"></td>
            <td th:text="${traje.cantidadTotal}"></td>
            <td th:text="${traje.categoria.nombre}"></td>
            <td>
                <div th:each="imagen : ${traje.imagenes}">
                    <img th:src="@{'/inicio/registroTraje/uploads/' + ${imagen}}" width="100" height="100"/>
                </div>
            </td>
        </tr>
    </table>
    <a th:href="@{/inicio/registroTraje/nuevo}">Nuevo Traje</a>
</body>
</html>
