<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesión</title>
    <link rel="stylesheet" href="styles/stylesLogin.css">
</head>
<body>
    <div class="login-container">
        <h1>Iniciar Sesión</h1>
        <form th:action="@{/login}" method="post"> <!-- El atributo "action" debe apuntar al endpoint del backend -->
            <input type="text" name="username" placeholder="Usuario" required> <!-- Asegúrate de usar el nombre de campo correcto -->

            <label  for="username">Nombre de
                usuario : </label> <input id="username"  name="username" type="text" class="form-control"
                required autofocus="autofocus" placeholder="Digite su email ID">

            <input type="password" name="password" placeholder="Contraseña" required> <!-- Asegúrate de usar el nombre de campo correcto -->
            <div class="select-container">
                <select name="tipo-usuario" id="tipo-usuario" required>
                    <option value="" disabled selected hidden>Selecciona el tipo de usuario</option>
                    <option value="admin">Administrador</option>
                    <option value="auxiliar">Auxiliar</option>
                </select>
            </div>
            <button type="submit">Iniciar Sesión</button>
        </form>
    </div>
</body>
</html>
