@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* Menú */
.contenedor-header {
    background: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    border-top: 25px solid black;
}

.barra-negra{
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: -20px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 12px;
}

.contenedor-header header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.contenedor-header header .logo a {

    font-family: 'Righteous';
    font-size: 36px;
    color: #000;
    text-decoration: none;
}

.contenedor-header header ul {
    display: flex;
    list-style: none;
}

.contenedor-header header nav ul li a {
    text-align: none;
    color: #000;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}


.contenedor-header .iconos a{
    text-align: none;
    color: #000;
    margin: 0 15px;
    padding: 0px;
    transition: .5s;
    text-decoration: none;

} 


.contenedor-header header nav ul li a:hover {
    color: #ffffff;
    background-color: #000000;
    border-radius: 15px;
    background-size: 50px;
    text-align: center;
    padding: 15px;
}


#menu li {
    text-align: center;
    margin-right: 1px; /* Agrega margen derecho para separar los elementos */
}

#menu li:last-child {
    margin-right: 0; /* Elimina el margen derecho del último elemento */
}

#menu li a {
    display: block;
    padding: 10px 2px; /* Ajusta el padding para controlar el espacio horizontal y vertical */
    text-decoration: none;
}

.nav-responsive {
    background-color: #000000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}


/* INICIO */

.inicio {
    background: linear-gradient(to top, rgba(30, 35, 38, .8), rgba(30, 35, 38, 1)),
        url(../img/Matrimonio.jpg);
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
}
/* Categorias */
.categorias {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas en computadoras */
    gap: 20px;
    padding: 20px;
    background-color: #f2f2f2;
}

.categoria {
    text-align: center;
    background-color: #050505;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    position: relative;
}

.categoria img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.categoria-contenido {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6); 
    color: #ffffff;
    padding: 16px;
    font-weight: bold;
}

.nombre {
    margin: 0; 
    font-size: 30px;
}

.categoria:hover {
    transform: translateY(-5px);
    box-shadow: 0px 0px 20px rgba(255, 253, 253, 0.4);
}

@media screen and (max-width: 768px) {
    .categorias {
        grid-template-columns: repeat(2, 1fr); 
    }
}

/* Productos */
.container-damas {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 4 columnas en PC */
    gap: 20px;
    padding: 20px;
    text-align: center;
}

.container-quinceanos{
    margin-top: 10px;
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 4 columnas en PC */
    gap: 20px;
    padding: 20px;
    text-align: center;
}

.container-caballeros{
    margin-top: 10px;
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 4 columnas en PC */
    gap: 20px;
    padding: 20px;
    text-align: center;
}

.container-infantil{
    margin-top: 10px;
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 4 columnas en PC */
    gap: 20px;
    padding: 20px;
    text-align: center;
}


.producto-categoria {
    padding: 20px;
    border-radius: 10px;
}

.producto-categoria:hover {
    transform: scale(1.00); /* Escala al 105% en hover */
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.4); /* Sombra en hover */
}

.producto-categoria img {
    max-width: 100%;
    border-radius: 15px;
    transition: transform 0.2s;    
}

.producto-categoria img:hover {
    transform: scale(1.02); /* Escala al 110% en hover */
}

.producto-categoria h3 {
    font-size: 24px;
    margin: 10px 0;
    color: #fff; /* Color de texto blanco */
}

.producto-categoria p {
    margin: 10px 0;
    color: #fff; /* Color de texto blanco */
}

.producto-categoria button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.producto-categoria button:hover {
    background-color: #fff; 
    color: #000; 
    font-weight: 620;
    transition: background-color 0.9s;
}

@media (max-width: 1100px) {
    .container-damas {
        grid-template-columns: repeat(4, 1fr); 
    }

    .container-quinceanos {
        grid-template-columns: repeat(4, 1fr); 
    }

    .container-caballeros {
        grid-template-columns: repeat(4, 1fr); 
    }

    .container-infantil {
        grid-template-columns: repeat(4, 1fr); 
    }
}


@media (max-width: 768px) {
    .container-damas {
        grid-template-columns: repeat(2, 1fr); 
    }

    .container-quinceanos {
        grid-template-columns: repeat(2, 1fr); 
    }

    .container-caballeros {
        grid-template-columns: repeat(2, 1fr); 
    }

    .container-infantil {
        grid-template-columns: repeat(2, 1fr); 
    }
}


/* Estilos generales del footer */
footer {
    background-color: #000;
    color: #fff;
    text-align: center;
}

/* Estilos para la rejilla (Grid) */
.footer-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr); 
    gap: 10px; 
    padding: 20px;
    align-items: center; 
    text-align: center;
}

/* Estilos para la sección izquierda */
.footer-left {
    text-align: left;
}

.footer-left h2,h5{
    text-align: center;
}


/* Estilos para los enlaces en la sección central */
.footer-center a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    display: block;
    margin: 5px 0;
}

/* Estilos para la sección derecha */
.footer-right {
    text-align: right;
}

.footer-right a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    display: block;
    text-align: center;
    margin: 5px 0;
}

/* Estilos para los botones circulares (redes sociales) en la sección derecha */

.footer-right .redes{
    text-align: center;
}

.footer-right .redes a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 5px;
    font-size: 20px;
    transition: .3s;
    text-align: center;
}

.footer-right .redes a:hover {
    background-color: #fafeff;
    color: #000;
}

/* Estilos para el texto "Derechos reservados" */
.copyright {
    margin-top: 20px;
}


/* SECCION RESPONSIVE */
@media screen and (max-width:920px){
    .contenedor-header header {
        align-items: center; 
      }
    
      .contenedor-header header .logo {
        text-align: center; 
      }
    
      .contenedor-header header nav {
        order: -1; 
        margin-left: 0; 
        
      }
    
      .nav-responsive {
        display: block;
        order: 2;
        margin-left: 10px;
      }
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        left: 0;
        top: 75px;
        background-color: #252A2E;
        width: 180px;
        
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }

    .contenedor-header header nav ul li a{
        color:#ffffff
    }

    .contenedor-header header .logo a {
        font-size: 24px; 
    }
    .contenedor-header header .logo h6 {
        font-size: 12px; 
    }

    .inicio {
        background-size: contain;
        background-position: center; 
    }
}

@media screen and (max-width:432px){
    .contenedor-header header .logo a {
        font-size: 17px; 
    }
    .contenedor-header header .logo h6 {
        font-size: 10px;
    }
    .nombre{
        font-size: 15px;
    }

    .categoria-contenido{
        padding: 5px;
    }

    .producto-categoria h3{
        font-size: 18px;
    }
    .producto-categoria p{
        font-size: 13px;
    }

    .producto-categoria button {
        padding: 2px 3px;
    }
}

@media (max-width: 767px) {
    .footer-grid {
        grid-template-columns: 1fr; /* Cambiar a una sola columna */
    }

    .footer-left,
    .footer-center,
    .footer-right {
        text-align: center; 
    }

    .footer-left h2, h5 {
        font-size: 13px;
    }

    .footer-center a {
        font-size: 10px
    }

    .footer-right a {
     font-size: 10px;
    }

    .footer-right .redes a {
        font-size: 15px;
    }
    .copyright{
        font-size: 10px;
    }
}