@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* Menú */
.contenedor-header {
    background: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.contenedor-header header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.contenedor-header header .logo a {

    font-family: 'Righteous';
    font-size: 36px;
    color: #000;
    text-decoration: none;
}

.contenedor-header header ul {
    display: flex;
    list-style: none;
}

.contenedor-header header nav ul li a {
    text-align: none;
    color: #000;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}


.contenedor-header .iconos a{
    text-align: none;
    color: #000;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;

} 


.contenedor-header header nav ul li a:hover {
    color: #ffffff;
    background-color: #000000;
    border-radius: 15px;
    background-size: 50px;
    text-align: center;
    padding: 15px;
}


#menu li {
    text-align: center;
}

#menu li a {
    display: block;
    padding: 10px;
    text-decoration: none;
}

#menu-toggle {
    display: block;
    text-align: right;
    cursor: pointer;
}

.nav-responsive {
    background-color: #000000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}




/* INICIO */

.inicio {
    background: linear-gradient(to top, rgba(30, 35, 38, .8), rgba(30, 35, 38, 1)),
        url(../img/Matrimonio.jpg);
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
}



/* SECCION RESPONSIVE */
@media screen and (max-width:920px){
    .contenedor-header header {
        align-items: center; 
      }
    
      .contenedor-header header .logo {
        text-align: center; 
      }
    
      .contenedor-header header nav {
        order: -1; 
        margin-left: 0; 
      }
    
      .nav-responsive {
        display: block;
        order: 2;
        margin-left: 10px;
      }
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 180px;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }

    .contenedor-header header nav ul li a{
        color:#ffffff
    }
}



